body
{
    background-image: url(../image/fundo.png);
}

#barra
{
    background-color: rgb(211, 202, 192);
    width: 892px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 8px;
    

}
#fundo
{
    background-color: rgb(239, 229, 217);
    width: 892px;
    
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;

}

a
{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(49, 53, 53);
}

h1
{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    color: rgb(49, 53, 53);
    margin-top: 0;
    
}
#TDR
{
    font-weight: bold;
    padding-left: 320px;
    padding-top: 20px;
}

.image
{
    border: 10px solid rgb(206, 193, 177) ;
}
