.caixa
{
    width: 400px;
    background: url(../image/fundo-arredondamento.png) repeat-y;
    

}


.caixa h2
{
    background: url(../image/topo2.png) no-repeat left top;
    padding: 10px 20px 0 20px;

}

.caixa p
{
    padding: 0 20px ;
} 

.caixa .ultimo
{
    background: url(../image/baixo2.png) no-repeat left bottom;
    padding-bottom: 20px;
}
/* .caixa h2
{
    padding: 10px 20px 0 20px;
}
.caixa p
{
    padding: 0 20px 10px 20px;
} */
